<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="js/libs/angular.min.js"></script>
    <title>Title</title>
</head>
<body>

<div class="container" ng-controller="HomeController">
    <div class="row">
        <div class="col-md-3">
            <label for="count">Home</label>
            <div>
                <select id="count" class="form-control" ng-model="homes.model" ng-options="option.homeName for option in homes">
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <form name="addForm" ng-submit="add()">
            <div class="col-md-3">
                <label>Add home</label>
                <div class="input-group">
                    <input type="text" required ng-minlength="minlength" class="form-control" ng-model="newName">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-add" type="submit" ng-click="homes.push({homeName:newName})" >Add home</button>
                    </span>
                </div>
            </div>
        </form>
        <form name="saveForm" ng-submit="save()">
            <div class="col-md-3">
                <label>Edit home</label>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="homes.model.homeName" required ng-minlength="minlength" ng-model-options="{ updateOn: 'submit' }">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-edit" type="submit" ng-disabled="saveForm.$invalid">Save</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

</body>

<script src="js/libs/jquery-3.2.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/libs/homekit.vanilla_tools.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/homeController.js"></script>
<script src="js/controllers/addController.js"></script>

</html>