<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="js/libs/angular.min.js"></script>
    <title>Title</title>
</head>
<body>

<div class="container" ng-controller="HomeController">
    <form>
        <div class="row">
            <div class="col-md-3">
                <label for="count">Home</label>
                <div>
                    <select id="count" class="form-control">
                        <option ng-repeat="home in homes | orderBy: sortparam" value="{{home.homeName}}">{{home.homeName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <label for="addHomeName">Add home</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="addHomeName">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-add" type="button" ng-click="addOpt()">Add home</button>
                    </span>
                </div>
            </div>

            <div class="col-md-3">
                <label for="editHomeName">Edit home</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="editHomeName" placeholder="Enter the home name">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-edit" type="button">Save</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

<script src="js/libs/jquery-3.2.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/homeController.js"></script>

</html>