<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!home">Angular Routing</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()" href="#">Log out</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container" ng-controller="homeController">
    <div class="row row-form">
        <div class="col-md-3">
            <label for="count">Home</label>
            <div>
                <select id="count" class="form-control" ng-model="selected" ng-options="option.homeName for option in homes track by option._id">
                </select>
            </div>
        </div>
    </div>

    <div class="row row-form">
        <div class="col-md-3">
            <label>Add home</label>
            <div class="input-group">
                <input type="text" class="form-control" name="newName" ng-model="newName" ng-class="{'error': error}">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-add" ng-click="addElem(newName)" ng-class="{'error': error}">Add home</button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label>Edit home</label>
            <div class="input-group">
                <input type="text" class="form-control" name="editName" ng-model="selected.homeName" ng-class="{'error': errorClone}">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-edit" ng-click="editElem(selected)" ng-class="{'error': errorClone}">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>
